html,
body {
  font-family: "Cutive Mono", monospace;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
h1 {
  color: white;
  font-size: 2rem;
}

.bottom {
  margin-bottom: 2rem;
}

.bifurcation {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 27, 82);
  color: white;
  overflow-y: scroll;
}

.transportation {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.transportation a {
  color: white;
  text-decoration: none;
}
.transportation a:hover,
.transportation a:active,
.transportation a:focus {
  color: rgb(231, 221, 74);
}

.fragmentation {
  list-style: none;
  padding: 0;
}

.creation {
  list-style: none;
  padding: 0;
}
.creation li a {
  color: rgb(250, 183, 183);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    overflow-x: hidden;
    white-space: pre;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.8rem;
  }

  .bifurcation {
    font-size: 1.6rem;
    justify-content: flex-start;
  }

  .creation {
    font-size: 1.3rem;
    padding: 0 2.5rem;
  }
}
