html,
body {
  font-family: "Cutive Mono", monospace;
  margin: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1 {
  color: white;
  font-size: 2rem;
}

.bottom {
  margin-bottom: 5rem;
}

.bifurcation {
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 27, 82);
  color: white;
}

.transportation {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.transportation a {
  color: white;
  text-decoration: none;
}
.transportation a:hover,
.transportation a:active,
.transportation a:focus {
  color: rgb(231, 221, 74);
}

.fragmentation {
  list-style: none;
  padding: 0;
}

.creation {
  list-style: none;
  padding: 0;
}
.creation li a {
  color: rgb(250, 183, 183);
}
