body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
}

#stuff {
  display: flex;
}

#name-banner {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 2rem;
  left: 50px;
  top: 20px;
}

.description {
  font-size: 1.5rem;
  top: 300px;
  left: 300px;
  width: 350px;
  height: 350px;
  padding: 1rem;
}

.sign {
  position: absolute;
  background-color: black;
  color: white;
  padding: 2rem;
}

.big {
  font-size: 1.5rem;
}

.small-square {
  width: 300px;
}

.project-icon {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

#var {
  background-image: url("src/assets/prev/var-prev.png");
  background-size: 100%;
}

#sky {
  background-image: url("src/assets/prev/cal-prev.png");
  background-size: 100%;
}

#bod {
  background-image: url("src/assets/prev/body-prev.png");
  background-size: 100%;
}

#high {
  background-image: url("src/assets/prev/high-prev.png");
  background-size: 100%;
}

#natto {
  background-image: url("src/assets/prev/natto-prev.png");
  background-size: 100%;
}

#nothing {
  background-image: url("src/assets/prev/nothing-prev.png");
  background-size: 100%;
}

#zoom {
  background-image: url("src/assets/prev/zoom-prev.png");
  background-size: 100%;
}
#elec {
  background-image: url("src/assets/jelly.jpg");
  background-size: 100%;
}

.social {
  position: absolute;
  color: white;
}
.social a {
  font-family: "DotGothic16", sans-serif;
  color: white;
  font-size: 1.5rem;
}
